body.minimised .Root__top-container {
  grid-template-areas:
    "global-nav global-nav global-nav"
    "main-view main-view main-view"
    "main-view main-view main-view" !important;
  gap: 0px !important;
}

body.minimised .Root__globalNav {
  margin-bottom: unset;
}

body.minimised .Root__nav-bar,
body.minimised .Root__now-playing-bar,
body.minimised .Root__right-sidebar {
  display: none !important;
}
