node_modules
dist/*
!dist/developerUtilities.mjs
!dist/findDupeTracks.mjs
!dist/fullscreenLyricsPlus.mjs
extensions/*
!extensions/developerUtilities/
!extensions/findDupeTracks/
!extensions/fullscreenLyricsPlus/
.vs/
import_map.json
npm/
package-lock.json
**/src/dexie
