.dropdown {
  position: relative;
  width: fit-content;
  min-width: 101px;
  font-size: 14px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .dropdown__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    padding: 0 8px;
    color: rgba(var(--spice-rgb-text), 0.8);
    background: rgba(var(--spice-rgb-selected-row), 0.1);
    border: none;
    border-radius: 4px;
  }

  .dropdown__arrow {
    display: flex;
  }

  .dropdown__menu {
    max-height: 250px;
    overflow-y: scroll;
    color: rgba(var(--spice-rgb-text), 0.8);
    scrollbar-width: none;
    background: var(--spice-card);
    border: solid rgba(255, 255, 255, 0.1) 1px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .dropdown__option {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;

    &:hover,
    .dropdown__option--selected {
      background: var(--spice-button);
    }
  }
}
