.input {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 0;
  border-radius: 4px;
  color: rgba(var(--spice-rgb-text), 0.8);
  height: 32px;
  width: 128px;
  text-overflow: ellipsis;
  padding-left: 10px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
