.fullscreen {
  .Root__top-container {
    grid-template: "main-view" 1fr / 1fr !important;
    gap: 0px;
  }

  .main-topBar-container {
    left: 30px;
  }

  .Root__top-container > *:not(.Root__main-view) {
    display: none;
  }

  /*required for lucid theme*/
  .Root__main-view {
    grid-area: "main-view" !important;
    grid-row-end: unset !important;
  }

  .lyrics-config-button-container {
    padding-bottom: unset !important;
  }
}
