.fullscreen {
  .Root__top-container {
    grid-template-areas: "main-view" !important;
    grid-template-rows: unset !important;
    grid-template-columns: unset !important;
    gap: 0px !important;
  }

  .xlgKfueiF46Wo_sED8YA {
    display: none;
  }

  .main-topBar-container {
    left: 30px;
  }

  .Root__globalNav,
  .Root__nav-bar,
  .Root__now-playing-bar,
  .Root__right-sidebar {
    display: none !important;
  }
}
